.op-enter-active, .op-leave-active {
  transition: opacity .5s
}
.op-enter,.enter-active, .op-leave-active, .op-leave {
  opacity: 0
}
.opacity-active, .opacity-leave-active {
  transition: opacity .5s
}
.opacity-enter, .opacity-leave-enter, .opacity-leave-active {
  opacity: 0
}