{{!< default}}
<div class="main">
    <div>
        {{#if user.avatar}}
            <img src="{{user.avatar}}" alt="" width="200" height="200">
        {{/if}}
        <h2 class="title center">Welcome {{user.username}}</h2>
    </div>
</div>
