{{!< default}}

<div class="log install" id="app">
    <h2 class="title">安装</h2>

    <h3 class="title">博客基本内容</h3>

    <el-form :model="blog" label-width="100px" class="demo-ruleForm" ref="blog">
        <el-form-item
            :label="inputs.name"
            :prop="'' + inputs.id"
            :rules="inputs.rules"
            v-for="inputs in blogInput"
        >
            <el-input type="title" v-model="blog[inputs.id]" auto-complete="off"></el-input>
        </el-form-item>
    </el-form>

    <h3 class="title">管理员内容</h3>

    <el-form :model="admin" label-width="100px" class="demo-ruleForm" ref="admin">
        <el-form-item
            :label="inputs.name"
            :prop="'' + inputs.id"
            :rules="inputs.rules"
             v-for="inputs in adminInput"
        >
            <el-input :type="inputs.id == 'password' ? 'password' : 'text'"  v-model="admin[inputs.id]" auto-complete="off"></el-input>
        </el-form-item>
    </el-form>
    <el-form label-width="100px">
        <el-form-item>
            <el-button type="primary" @click="submitForm()">提交</el-button>
        </el-form-item>
    </el-form>
</div>
{{#contentFor "pageScripts"}}
<script>
var app = new Vue({
    delimiters: ['${', '}'],
    el: '#app',
    data: {
        blogInput: [
            {
                name: '博客标题',
                id: 'title',
                info: '博客标题',
                rules: [
                    { required: true, message: '标题不能为空'}
                ]
            },
            {
                name: '博客地址',
                id: 'url',
                info: 'http://ex.com',
                rules: [
                    { required: true, message: '地址不能为空'},
                    { type: 'url', message: '请输入正确的网址'}
                ]
            },
            {
                name: '博客描述',
                id: 'description',
                info: '博客描述'
            }
        ],
        adminInput: [
            {
                name: '管理员名称',
                id: 'name',
                info: '登陆id',
                rules: [
                    { required: true, message: '名称为空'}
                ]
            },
            {
                name: '管理员邮箱',
                id: 'email',
                info: 'http://ex.com',
                rules: [
                    { required: true, message: '邮箱为空'},
                    { type: 'email', message: '请输入正确的邮箱地址'}
                ]
            },
            {
                name: '管理员密码',
                id: 'password',
                info: '博客描述',
                rules: [
                    { required: true, message: '密码为空'},
                    { min: 6, max: 16, message: '长度在 6 到 16 个字符' }
                ]
            }
        ],
        blog: {
            title: '',
            url: '',
            description: ''
        },
        admin: {
            name: '',
            email: '',
            password: ''
        }
    },
    methods: {
        submitForm(formName) {
            var that = this
            that.$refs['blog'].validate(function (valid) {
                that.$refs['admin'].validate(function (validi) {
                    if (valid && validi) {
                        axios.post('/api/install', {
                                blog: that.blog,
                                admin: that.admin
                            })
                            .then(function (response) {
                                that.$message('安装成功~')
                            })
                            .catch(function (error) {
                                that.$message.error(error.message)
                            })
                    } else {
                        return false;
                    }
                })
                if (!valid) {
                    return false;
                }
            });
        }
    }
})
</script>
{{/contentFor}}