<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<style>
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
</style>

<style>
* {
    box-sizing: border-box;
}
body {
    background: #f6f6f6;
}
input:-webkit-autofill, 
 textarea:-webkit-autofill, 
 select:-webkit-autofill { 
       -webkit-box-shadow: 0 0 0 1000px white inset; 
}
 input[type=text]:focus, input[type=password]:focus, textarea:focus {
      -webkit-box-shadow: 0 0 0 1000px white inset; 
}
h2.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 400;
    color: #1d89ff;
}
.log {
    width: 340px;
    margin: 0 auto;
    background: #fff;
    padding: 42px;
    margin-top: 142px;
    margin-bottom: 142px;
    box-shadow: 0, 0, 5px 5px #f2f2f2;
}
.log input {
    width: 100%;
    display: block;
    border: none;
    background: #fff;
    margin-bottom: 12px;
    line-height: 20px;
    padding: 8px;
    outline: none;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
}
.log input:hover {
    transition: .3s all;
    border: 1px solid #1d89ff;
}
.log button {
    width: 100%;
    display: block;
    background: #1d89ff;
    border: none;
    padding: 6px 0;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    transition: .3s all;
    letter-spacing: 0;
    outline: none;
    
}
.log button:hover {
    letter-spacing: 2px;
    box-shadow: -1px 3px 11px -2px #989898;
}
</style>
<body>
    {{{body}}}
</body>
</html>