{{!< ../theme/fish/test}}
<form action="/api/login" method="post">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="submit" value="Log In"/>
</form>