{{!< default}}
<form action="/api/register" method="post">
    <input type="text" name="username"/>
    <input type="password" name="email"/>
    <input type="password" name="password"/>
    <input type="submit" value="Log In"/>
</form>