{{!< default}}
<main>
    <article class="article">
        <header class="title">
            <h1 class="post-title">{{article.title}}</h1>
        </header>
        <section class="article-content">
            {{{article.content}}}
        </section>
        <footer>

        </footer>
    </article>
</main>